*.unstyled-link {
  color: #666666;
}
*.unstyled-link:hover {
  text-decoration: none;
  color: #666666;
}
a:focus {
  outline: 0;
}
a:hover {
  text-decoration: none;
}
:focus {
  outline: 0;
}
body {
  background-color: #ffffff;
}
h1,
h2,
h3 {
  color: #000000;
}
.form-sub-heading {
  border-bottom: 1px solid #dddddd;
}
.page-content .form-section-heading {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.media-list li {
  border-bottom: 1px solid #cccccc;
}
.panel-form {
  border-bottom: 0;
  box-shadow: none;
  border: 0;
}
.panel-form .panel-body {
  border-bottom: 0;
}
.panel-form .panel-heading {
  background: #f1f1f1;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1f1f1 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f1f1f1 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  border-bottom: 0;
}
.panel-form .panel-heading label,
.panel-form .panel-heading h3 {
  font-size: 18px;
  font-weight: normal;
  color: #333;
}
.panel-form .panel-heading h3 {
  cursor: pointer;
}
.panel-form .panel-heading h3.disabled {
  color: #aaa;
  cursor: not-allowed;
}
.panel-form .panel-heading + .panel-collapse .panel-body {
  border-top: 0;
}
.panel-form .panel-heading .form-control {
  display: inline-block;
  width: auto;
}
.btn-secondary {
  background-color: #6c6c6c;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #4c4c4c;
  color: #ffffff;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.page-title {
  color: #fff;
  text-shadow: 0 1px 0px #666666;
}
.panel .form-sub-heading {
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
}
.panel.panel-has-nav {
  background-color: #666;
}
.panel .tab-content {
  background-color: #ffffff;
}
.panel.panel-collapsed .panel-heading {
  border-bottom: 0;
}
.panel-nav {
  border-bottom: 0;
}
.panel-nav > li a {
  border: 0;
  color: #fff;
  font-weight: bold;
}
.panel-nav > li a:hover {
  background-color: #555;
  border: 0;
  padding-bottom: 9px;
}
.panel-nav > li.active a {
  color: #666;
}
.panel-nav > li.active a:hover {
  background-color: #ffffff;
  padding-bottom: 10px;
}
.sub-nav .nav-pills > li > a {
  color: #cccccc;
}
.sub-nav .nav-pills > li > a:hover {
  color: #333;
  background-color: transparent;
}
.sub-nav .nav-pills > li > a:hover > .badge {
  background-color: #333;
}
.sub-nav .nav-pills > li.disabled > a,
.sub-nav .nav-pills > li.disabled:hover {
  color: #cccccc;
}
.sub-nav .nav-pills > li.disabled > a > .badge {
  background-color: #cccccc;
}
.sub-nav .nav-pills > li.active > a,
.sub-nav .nav-pills > li.active > a:hover,
.sub-nav .nav-pills > li.active > a:focus {
  color: #0096ff;
  background-color: transparent;
}
.sub-nav .nav-pills > li.active > a .badge,
.sub-nav .nav-pills > li.active > a:hover > .badge {
  color: #ffffff;
  background-color: #0096ff;
}
.secondary-nav .nav > li > a {
  border-radius: 0;
  color: #666666;
  font-weight: bold;
  background-color: transparent;
  background-image: none;
}
.secondary-nav .nav > li > a:hover {
  background-color: transparent;
  color: #333;
}
.secondary-nav .nav li ul li a {
  color: #666666;
  font-weight: normal;
  border-bottom: 0;
}
.secondary-nav .nav > li.active > a {
  background-color: transparent;
  color: #000000;
  font-weight: bold;
}
.secondary-nav .nav .nav li.active > a {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: -100px 7px;
}
.primary-nav {
  border: 0;
  background-color: #666666;
}
.primary-nav .navbar-nav li > a,
.primary-nav .navbar-nav li > a:hover,
.primary-nav .navbar-nav li.active > a,
.primary-nav .navbar-nav li.active > a:hover {
  color: #ffffff;
}
.primary-nav .navbar-nav li.open > a,
.primary-nav .navbar-nav li.open > a:hover,
.primary-nav .navbar-nav li.active > a,
.primary-nav .navbar-nav li > a:focus {
  background-color: #333333;
}
.primary-nav .navbar-nav li.open > a:hover,
.primary-nav .navbar-nav li.open > a:hover:hover,
.primary-nav .navbar-nav li.active > a:hover,
.primary-nav .navbar-nav li > a:focus:hover {
  background-color: #333333;
}
.primary-nav .navbar-nav li > a {
  border-right: 0px solid #404040;
  border-left: 0px solid #808080;
}
.primary-nav .navbar-nav li > a:hover {
  background-color: #595959;
}
.primary-nav .navbar-nav li > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.primary-nav .navbar-nav li .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.primary-nav .navbar-nav li:first-child > a {
  border-left: 0;
}
.primary-nav .navbar-nav li:last-child > a {
  border-right: 0;
}
.primary-nav .navbar-nav .dropdown-menu {
  border: 0;
  border-top-left-radius: 5px;
  background-color: #333333;
}
.primary-nav .navbar-nav .dropdown-menu li {
  margin-right: 0;
}
.primary-nav .icon-bar {
  background-color: #000;
}
.navbar-brand,
.navbar-brand:hover {
  color: #ffffff;
}
.header-inner {
  background-color: #000;
}
.actions-nav {
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.actions-nav .navbar-nav li > a,
.actions-nav .navbar-nav li > a:hover {
  color: #efefef;
}
.actions-nav .navbar-nav li.active > a {
  background-color: transparent;
  color: #ffffff;
}
.actions-nav .navbar-nav li.active > a:hover {
  color: #ffffff;
  background-color: transparent;
}
.actions-nav .navbar-nav li > a {
  border-right: 0px solid rgba(0, 0, 0, 0.3);
  border-left: 0px solid rgba(26, 26, 26, 0.3);
}
.actions-nav .navbar-nav li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.actions-nav .navbar-nav li:first-child > a {
  border-left: 0;
}
.actions-nav .navbar-nav li:last-child > a {
  border-right: 0;
}
.modal-media.video-modal .modal-content {
  background-color: #000;
}
.modal-media.video-modal .modal-header {
  border-bottom: 0;
  border-bottom: 1px solid #222;
}
.modal-media.video-modal .modal-header h3 {
  color: #666;
}
.modal-media.video-modal .modal-header .close {
  color: #fff;
}
.section-title {
  font-weight: bold;
}
.page-content {
  line-height: 1.8em;
}
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
  color: #333333;
}
.arrow-left {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: -20px 0;
}
.arrow-up {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer {
  color: #666666;
  border-top: 1px solid #cccccc;
  border-collapse: collapse;
}
.icon-cancel {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: -80px 0;
}
.login {
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 10px 0 #cccccc;
  box-shadow: 0px 0px 10px 0 #cccccc;
}
.info-list dt {
  font-weight: normal;
}
.email-list-signup {
  background-color: #efefef;
  border-top: 1px solid #cccccc;
  border-collapse: collapse;
}
.content-call-out {
  border-width: 1px 0 0px 0;
  border-style: solid;
  border-color: #cccccc;
  border-collapse: collapse;
}
.content-call-out p {
  font-size: 16px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}
.content-inset {
  width: 200px;
  margin: 20px;
  border-width: 1px 0 1px 0;
  border-bottom: 1px solid #cccccc;
}
.icon-social {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: 0 -20px;
}
.icon-linked-in {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: 0 -20px;
}
.icon-facebook {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: -40px -20px;
}
.icon-twitter {
  background-image: url('../../img/sp-common.png');
  background-repeat: no-repeat;
  background-position: -80px -20px;
}
.login-header-content {
  background-color: #666;
}
